<% if @student.progresses.any? %>
  <div class="table-responsive">
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Grade</th>
          <th scope="col">DIBELS Score</th>
          <th scope="col">Accuracy</th>
          <th scope="col">Edit</th>
          <tr>
          </thead>
          <tbody>
            <% @student.progresses.order(:date).reverse_order.each do |progress| %>
              <tr>
                <th scope="row"><%= progress.date %></th>
                <td><%= if progress.grade? then progress.grade.round(0) end %></td>
                <td><%= if progress.dibels? then progress.dibels.round(0) end %></td>
                <td><%= if progress.accuracy? then "#{progress.accuracy.round(2)}%" end %></td>
                <td><%= link_to "Edit", edit_student_progress_path(@student, progress.id) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <p>There are no DIBELS yet.</p>
    <% end %>
