<%= content_for(:title, "Students") %>
<div class="row">
  <div class="col">
    <h1>Students</h1>
  </div>
  <div class="col d-flex justify-content-end">
    <div class="align-self-center">
      <%= link_to 'New Student', new_student_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>
<hr>
<% if @students.any? %>
  <div class="row">
    <div class="col">
      <%= form_with url: '/students', method: :get, local: :true do |form|%>
        <strong><%= form.label :query, "Search by Name"%></strong>
        <div class="row">
          <div class="col">
            <%= form.text_field :query, class: "form-control" %>
          </div>
          <div class="col-2">
            <%= form.submit "Search", :class => "btn btn-primary"%>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col">
      <%= paginate @students %>
    </div>
  </div>
  <%= render :partial => "student_grid", :locals => {:students => @students} %>
  <%= paginate @students %>
<% else%>
  <p>There are no students yet.</p>
<% end %>
</div>
</div>
