<p id="notice"><%= notice %></p>

<p><%= link_to 'New Student', new_student_path, class: "btn btn-primary" %></p>

<h1>Students</h1>

<% if @students.any? %>
      <div class="row">
<%= paginate @students %>
        <% @students.order(:last_name).each do |student| %>
          <%= render :partial => "student_card", :locals => {:student => student} %>
        <% end %>
<%= paginate @students %>
      </div>
    <% else %>
      <p>There are no students yet.</p>
    <% end %>


<br>


