<h2><%= @student.first_name + " " + @student.last_name%></h2>

<%= link_to 'Edit Student', edit_student_path(@student) %>
<%= link_to 'Back to All Students', students_path %>

<p id="notice"><%= notice %></p>
<%= render :partial => "/quarterly_results/display_quarterly_results", :locals => {:student => @student}  %>


