<%= content_for(:title, "#{@student.student_name}") %>
<div class="row" style="justify-content: space-between">
  <div class="col">
    <h1><%= @student.student_name %>
      <%unless @student.active?%>
        <%= " (Inactive)"%>
      <%end%>
    </h1>
    <% if @teacher %>
      <h4>Teacher: <%= link_to @teacher.full_name, teacher_path(@teacher) %></h4>
    <% else %>
      <p>There is no teacher assigned to this student.</p>
    <% end %>
  </div>
  <div class="col text-end">
    <p><%= link_to 'Edit Student', edit_student_path(@student), class: "btn btn-warning" %></p>
    <% if current_user && current_user.admin?%>
      <p><%= link_to "Delete Student", student_path( @student),
                         :data => {:confirm => "You sure?",
                                   :method => "delete"}, class: "btn btn-danger" %></p>
    <% end %>
  </div>
</div>
<h2>Benchmark Results</h2>
<p><%= link_to "Add a Benchmark score", new_student_benchmark_result_path(@student), class: "btn btn-primary" %></p>
<%= render :partial => "/benchmark_results/display_benchmark_results", :locals => {:student => @student} %>
<hr>
<h2>DIBELS Bi-Weekly Progress Results</h2>
<div class="row">
  <div class="col">
    <%= render :partial => "/charts/prog_chart", :locals => {:student => @student} %>
  </div>
</div>
<div class="row">
  <div class="col">
    <h3>DIBELS Results</h3>
    <p><%= link_to "Add Progress", new_student_progress_path(@student), class: "btn btn-primary" %></p>
    <%= render :partial => "/progresses/display_progress", :locals => {:student => @student} %>
  </div>
</div>
