<div class="table-responseive">
  <table class="table table-striped mt-3">
    <thead>
      <tr>
        <th scope="col"style="width:25%;">Email</th>
        <th scope="col">Admin</th>
        <th scope="col">Active</th>
        <th scope="col">Change Active Status</th>
      </tr>
    </thead>
    <tbody>
      <% @users.order(:email).each do |user| %>
        <tr>
          <th scope="row" class="grid-col-1"><%=user.email%> <%= if user.id === current_user.id then ' (You)' end %></th>
          <td><%= user.admin.to_s.titleize%></td>
          <td><%= user.active.to_s.titleize %></td>
          <td><%= if user.id != current_user.id then button_to 'Toggle Active', {:method=> "toggle_active", :id => user.id}, {class: "btn btn-warning"} else "You cannot disable yourself" end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
