
<% if @student.benchmark_results.any? %>
<div class="table-responsive">
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th class="table-light"></th>
          <th class="table-info text-center">TOSWRF-2</th>
          <th class="table-warning text-center" colspan="2">Gates-MacGinitie</th>
          <th class="table-danger text-center" colspan="8">DIBELS</th>
        </tr>
        <tr>
          <th class="table-light" scope="col">Date</th>
          <th class="table-info" scope="col">GE</th>
          <th class="table-warning" scope="col">Vocab GE</th>
          <th class="table-warning" scope="col">Reading Comp. GE</th>
          <th class="table-danger" scope="col">LNF</th>
          <th class="table-danger" scope="col">SNF</th>
          <th class="table-danger" scope="col">ORF Grade Lvl.</th>
          <th class="table-danger" scope="col">ORF CWPM</th>
          <th class="table-danger" scope="col">ORF Accuracy</th>
        </tr>
      </thead>
      <tbody>
  <% @student.benchmark_results.each do |q| %>
        <tr>
          <th class="table-light" scope="row"><%= link_to q.season, edit_student_benchmark_result_path(@student, q.id) %></th>
          <td class="table-info" ><%= q.ge %></td>
          <td class="table-warning"><%= q.vocab_ge %></td>
          <td class="table-warning"><%= q.reading_comp_ge %></td>
          <td class="table-danger"><%= q.lnf %></td>
          <td class="table-danger"><%= q.snf %></td>
          <td class="table-danger"><%= q.orf_grade_lvl %></td>
          <td class="table-danger"><%= q.orf_cwpm %></td>
          <td class="table-danger"><%= q.orf_accuracy %></td>
        </tr>
  <% end %>
</tbody>
</table>
</div>
<% else %>
<p>No results to display.</p>
<% end %>