<% if @student.benchmark_results.any? %>
  <div class="table-responsive">
    <table class="table table-striped mt-3">
      <thead>
        <tr>
          <th class="table-light"></th>
          <th class="table-light text-center">TOSWRF-2</th>
          <th class="table-light text-center" colspan="2">Gates-MacGinitie</th>
          <th class="table-light text-center" colspan="7">DIBELS</th>
        </tr>
        <tr>
          <th class="table-light text-center" scope="col">Date</th>
          <th class="border-start text-center" scope="col">GE</th>
          <th class="border-start text-center" scope="col">Vocab GE</th>
          <th class=" text-center" scope="col">Reading Comp. GE</th>
          <th class="border-start" scope="col">LNF</th>
          <th class=" text-center" scope="col">SNF</th>
          <th class=" text-center" scope="col">ORF Grade Lvl.</th>
          <th class=" text-center" scope="col">ORF CWPM</th>
          <th class=" text-center" scope="col">ORF Accuracy</th>
          <th class="border-start" scope="col">Edit</th>
        </tr>
      </thead>
      <tbody>
        <% @student.benchmark_results.order(:date).reverse_order.each do |q| %>
          <tr>
            <th class="text-left table-light" scope="row"><%= q.season %></th>
            <td class="text-center border-start" ><%= q.ge %></td>
            <td class="text-center  border-start"><%= q.vocab_ge %></td>
            <td class="text-center "><%= q.reading_comp_ge %></td>
            <td class="text-center border-start"><%= q.lnf %></td>
            <td class="text-center "><%= q.snf %></td>
            <td class="text-center "><%= q.orf_grade_lvl %></td>
            <td class="text-center "><%= q.orf_cwpm %></td>
            <td class="text-center ">
              <% if q.orf_accuracy? %>
                <%="#{q.orf_accuracy.round(2)}%" %>
              <% end%>
            </td>
            <td class=" text-right border-start"><%= link_to "Edit", edit_student_benchmark_result_path(@student, q.id) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p>No results to display.</p>
<% end %>