<%= form_for [@student, @benchmark_result] do |form|%>
  <div class="row">
    <div class="col-3">
      <h2 class="card-title">Test Information</h2>
      <%= form.label :date %>
      <%= form.date_select :date, { :discard_day => true, :order => [:month, :year], :end_year => Date.today.year + 1 }, class: "form-select mb-3"%>
      <hr>
      <%= form.submit class: "btn btn-primary d-flex" %>
    </div>
    <div class="col">
      <div class="row">
        <div class="col-lg-6">
          <div class="card mb-3">
            <div class="card-body">
              <h2 class="card-title">TOWSRF</h2>
              <%= form.label :ge, 'Test of Silent Word Reading Fluency GE', class: 'card-title' %>
              <%= form.number_field :ge, min: 0, max: 1000, step: 0.01, class: "form-control"%>
            </div>
          </div>

          <div class="card mb-3">
            <div class="card-body">
              <h2 class="card-title">Gates-MacGinitie</h2>
              <%= form.label :vocab_ge, 'Vocab GE' %>
              <%= form.number_field :vocab_ge, min: 0,max: 1000, step: 0.01, class: "form-control"%>
              <%= form.label :reading_comp_ge, 'Reading Comp. GE' %>
              <%= form.number_field :reading_comp_ge, min: 0,max: 1000, step: 0.01, class: "form-control"%>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <h2>TOWRE</h2>
              <%= form.label :sight_word_ge, 'Sight Word GE' %>
              <%= form.number_field :sight_word_ge, min: 0, max: 15, step: 0.1, class: "form-control" %>
              <%= form.label :phonemic_decoding_ge, 'Phonemic Decoding GE' %>
              <%= form.number_field :phonemic_decoding_ge, min: 0, max: 15, step: 0.1, class: "form-control" %>
            </div>
          </div>
          <div class="card mb-3">
            <div class="card-body">
              <h2>CTOPP</h2>
              <%= form.label :elison_ge, 'Elison GE' %>
              <%= form.number_field :elison_ge, min: 0, max: 15, step: 0.1, class: "form-control" %>
              <%= form.label :blending_ge, 'Blending GE' %>
              <%= form.number_field :blending_ge, min: 0, max: 15, step: 0.1, class: "form-control" %>
              <%= form.label :isolation_ge, 'Isolation GE' %>
              <%= form.number_field :isolation_ge, min: 0, max: 15, step: 0.1, class: "form-control" %>
            </div>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-3">
            <div class="card-body">
              <h2 class="card-title">DIBELS</h2>
              <%= form.label :lnf, 'Letter Naming Fluency (LNF)' %>
              <%= form.number_field :lnf, min: 0,max: 1000, step: 0.01, class: "form-control"%>
              <%= form.label :snf, 'Sound Naming Fluency (SNF)' %>
              <%= form.number_field :snf, min: 0,max: 1000, step: 0.01, class: "form-control"%>
              <hr>
              <div style="background-color: #eee" class="pt-3 pb-3">
                <h4>ORF Grade Level</h4>
                <%= form.label :orf_grade_lvl, 'ORF Grade Level' %>
                <%= form.number_field :orf_grade_lvl, min: 0,max: 1000, step: 0.01, class: "form-control"%>
                <%= form.label :orf_cwpm, 'ORF CWPM' %>
                <%= form.number_field :orf_cwpm, min: 0,max: 1000, step: 0.01, class: "form-control"%>
                <%= form.label :orf_accuracy, 'ORF Accuracy' %>
                <%= form.number_field :orf_accuracy, min: 0, max: 100, step: 1, class: "form-control" %>
              </div>
              <hr>
              <h4>ORF Instructional Grade Level</h4>
              <%= form.label :orf_instructional_grade_lvl, 'ORF Instructional Grade Level' %>
              <%= form.number_field :orf_instructional_grade_lvl, min: 0,max: 1000, step: 0.01, class: "form-control"%>
              <%= form.label :orf_instructional_cwpm, 'ORF Instructional CWPM' %>
              <%= form.number_field :orf_instructional_cwpm, min: 0,max: 1000, step: 0.01, class: "form-control"%>
              <%= form.label :orf_instructional_accuracy, 'ORF Instructional Accuracy' %>
              <%= form.number_field :orf_instructional_accuracy, min: 0, max: 100, step: 1, class: "form-control" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
