<h1><%= content_for(:title, "#{@student.student_name} | Edit Benchmark") %></h1>
<h1><%="Edit #{@student.student_name}'s Benchmark" %></h1>

<p><%= link_to 'Return to Student Page', student_path(@student) %></p>

<%= render "edit_benchmark_result"%>
<span class="btn btn-danger"><%= link_to "Delete Benchmark", student_benchmark_result_path(@benchmark_result),
                  :data => {:confirm => "You sure?",
                  :method => "delete"} %></span>
