<!DOCTYPE html>
<html class="h-100">
  <head>
    <title><%= (yield(:title) + " | " unless yield(:title).blank?).to_s + "SPT" %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@0.1.1"></script>
  </head>
  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0">
      <div class="container">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href="/">Student Progress Tracker</a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
                  <li class="nav-item"><a class="nav-link" href="/teachers">Teachers</a></li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/students" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Inactive
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/inactive/students">Inactive Students</a></li>
                      <li><a class="dropdown-item" href="/inactive/teachers">Inactive Teachers</a></li>
                    </ul>
                  </li>
                </ul>
                <div id="user-info">
                    <% if current_user %>
                      <%= link_to current_user.email, edit_user_registration_url %> | <%= link_to "Sign out", '/users/sign_out', :method => :delete %>
                    <% else %>
                      <%= link_to "Sign up", '/users/sign_up' %> | <%= link_to "Sign in", '/users/sign_in'%>
                    <% end %>
                  <% if current_user && current_user.admin?%>
                    <%= " | " %>
                    <%= link_to 'User Management', '/user-admin/'%>
                    <%end %>
                  </div>
                </div>
              </div>
            </nav>
            <%if flash[:alert] %>
              <div class="alert alert-danger mt-3" role="alert">
                <%= flash[:alert] %>
              </div>
            <%end%>
            <%if flash[:notice] %>
              <div class="alert alert-success mt-3" role="alert">
                <%= flash[:notice] %>
              </div>
            <%end%>
            <div class="row">
              <div class="col mt-3">
                <%= yield %>
              </div>
            </div>
          </div>
      </main>
      <footer class="footer mt-auto py-3 bg-light" id="sticky-footer">
        <div class="container">
          <span class="text-muted" style="display:flex">Made by <a href="https://github.com/giang184">Andrew Giang</a>, <a href="https://github.com/krishops">Kristen Hopper</a>, <a href="https://github.com/gengur123">Arthur Lee</a>, <a href="https://github.com/dqveha">Dave Lindqvist</a>, and<a href="https://github.com/mireie">Michael Reiersgaard</a><span style="margin-left:auto"><a href="https://github.com/mireie/student_performance_tracker">View project on GitHub</a></span></span>
        </div>
      </footer>
    </body>
  </html>
